<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatting</title>
    <link rel="stylesheet" href="./css/chat.css">
</head>

<body>
    <div class="chatwrapper">
        <div class="user-container">
          
        </div>

        <div class="display-container">
            <ul>
                <% AllChat.forEach(e=> { %>
                    <% if(e.senderId == nowUser) { %>
                        <li><div class = "sendMessage"> <%=e.chatContent%> </div></li> 
                    <% } %>
                    <% if(e.senderId == friendId) { %>
                        <li><div class = "receiveMessage"> <%=e.chatContent%> </div></li>
                    <% } %>
                <%});%> 
            </ul>
            <ul id="messages"> <div class="time" id="chatTime">06/06 13:01</div></ul>
           
        </div>
       
        <div class="input-container">        
                
            <div id="chat-list"></div> 
            <script src="/socket.io/socket.io.js"></script>

            <form onsubmit="return sendMessage()" >
                <input name ='messageContent' id="message" placeholder="Enter message">
                <input type = "hidden" id ='receiver' value = "<%=friendId%>">
                <input type = "hidden" id = 'sender' value = "<%=nowUser%>">
                <input type = "hidden" id = 'room' value = "<%=room%>">
                <input type="submit" value="send">
            </form>            

            <script>
                const socket= io('http://localhost:80');
                console.log(socket);

                window.onload = function() {
                    let room = document.querySelector("#room"); 
                    console.log("방번호" + room.value);
                    socket.emit('room', room.value);
                }


                function sendMessage(){
                    let message = document.querySelector("#message");
                    let senderId = document.querySelector("#sender");
                    let receiverId = document.querySelector("#receiver");
                    let room = document.querySelector("#room"); 

                    console.log(message.value+'가 도착');
                    console.log("방번호" + room.value);
                    socket.emit('new_message',message.value, senderId.value, receiverId.value, room.value);
                    document.querySelector("#message").value = "";
                    return false;

                }

                function startChat() {
                    let room = document.querySelector("#room"); 

                    console.log("방번호" + room.value);
                    socket.emit('room', room.value);
                }

                socket.on('new_message',data=>{
                    console.log('Server.js says',data)
                    let li=document.createElement("li");
                    li.innerHTML=data;
                    const messages=document.querySelector("#messages");
                    messages.appendChild(li)
                });
            
            </script>   
        </div>

    </div>
</body>
</html>